$schema: https://json-schema.org/draft-07/schema
$defs:
  Accounts:
    additionalProperties: false
    description: InNoHassle Accounts integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/accounts/v0
        description: URL of the Accounts API
        title: Api Url
        type: string
      api_jwt_token:
        description: JWT token for accessing the Accounts API as a service
        format: password
        title: Api Jwt Token
        type: string
        writeOnly: true
    required:
    - api_jwt_token
    title: Accounts
    type: object
  Environment:
    enum:
    - development
    - production
    title: Environment
    type: string
  Exchange:
    additionalProperties: false
    description: Exchange (Outlook) integration settings
    properties:
      ews_endpoint:
        default: https://mail.innopolis.ru/EWS/Exchange.asmx
        description: URL of the EWS endpoint
        title: Ews Endpoint
        type: string
      username:
        description: Username for accessing the EWS endpoint (email)
        title: Username
        type: string
      password:
        description: Password for accessing the EWS endpoint
        format: password
        title: Password
        type: string
        writeOnly: true
    required:
    - username
    - password
    title: Exchange
    type: object
  MyUni:
    additionalProperties: false
    description: My University integration settings
    properties:
      api_url:
        default: https://my.university.innopolis.ru/apiv1
        description: URL of the My University API
        title: Api Url
        type: string
      secret_token:
        description: Secret token for My University API
        format: password
        title: Secret Token
        type: string
        writeOnly: true
    required:
    - secret_token
    title: MyUni
    type: object
  Room:
    additionalProperties: false
    description: Room description.
    properties:
      id:
        description: Room slug
        title: Id
        type: string
      title:
        description: Room title
        title: Title
        type: string
      short_name:
        description: Shorter version of room title
        title: Short Name
        type: string
      resource_email:
        description: Email of the room resource
        title: Resource Email
        type: string
      my_uni_id:
        anyOf:
        - type: integer
        - type: 'null'
        default: null
        description: ID of room on My University portal
        title: My Uni Id
      capacity:
        anyOf:
        - type: integer
        - type: 'null'
        default: null
        description: Room capacity, amount of people
        title: Capacity
      access_level:
        anyOf:
        - enum:
          - yellow
          - red
          - special
          type: string
        - type: 'null'
        default: null
        description: Access level to the room. Yellow = for students. Red = for employees.
          Special = special rules apply.
        title: Access Level
      restrict_daytime:
        default: false
        description: Prohibit to book during working hours. True = this room is available
          only at night 19:00-8:00, or full day on weekends.
        title: Restrict Daytime
        type: boolean
    required:
    - id
    - title
    - short_name
    - resource_email
    title: Room
    type: object
additionalProperties: false
description: Settings for the application.
properties:
  $schema:
    default: null
    title: $Schema
    type: string
  environment:
    $ref: '#/$defs/Environment'
    default: development
    description: App environment flag
  app_root_path:
    default: ''
    description: Prefix for the API path (e.g. "/api/v0")
    title: App Root Path
    type: string
  api_key:
    description: Secret key for accessing API by external services
    format: password
    title: Api Key
    type: string
    writeOnly: true
  rooms:
    default: []
    description: List of rooms
    items:
      $ref: '#/$defs/Room'
    title: Rooms
    type: array
  ttl_bookings_from_account_calendar:
    default: 60
    description: TTL for the bookings from account calendar cache in seconds
    title: Ttl Bookings From Account Calendar
    type: integer
  ttl_bookings_from_busy_info:
    default: 60
    description: TTL for the bookings from busy info cache in seconds
    title: Ttl Bookings From Busy Info
    type: integer
  cors_allow_origin_regex:
    default: .*
    description: 'Allowed origins for CORS: from which domains requests to the API
      are allowed. Specify as a regex: `https://.*.innohassle.ru`'
    title: Cors Allow Origin Regex
    type: string
  accounts:
    $ref: '#/$defs/Accounts'
  my_uni:
    $ref: '#/$defs/MyUni'
  exchange:
    $ref: '#/$defs/Exchange'
required:
- api_key
- accounts
- my_uni
- exchange
title: Settings
type: object
